@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*
    font-family: "Lato", sans-serif;
    font-family: "Poppins", sans-serif;
 */
body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #FFFFFF;
}
.header_section{
    background: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.header_section .navbar{
    padding: 0;
}
.navbar ul li a {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    color: #454545 !important;
    text-transform: capitalize;
}
.navbar ul li a.active{
    font-weight: 500;
}
.navbar-brand img{
    height: 60px;
    width: auto;
}
.header_section .dropdown-menu{
    text-align: center;
}
.header_section .dropdown-toggle::after{
    content: url(../../assets/img/arrow.svg);
    border: none;
}
.hero_section{
    position: relative;
}
.hero_swiper_inner{
    position: relative;
    width: 100%;
}
.hero_swiper_main{
    position: relative;
}
.hero_swiper_main .swiper-button-next {
    background: #00000003;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(20.399999618530273px);
    height: 40px;
    width: 48px;
    border-radius: 15px;
    right: 60px;
}
.hero_swiper_main .swiper-button-prev{
    background: #00000003;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(20.399999618530273px);
    height: 40px;
    width: 48px;
    border-radius: 15px;
    left: 60px;
}
.hero_swiper_main .swiper-button-next:after,
.hero_swiper_main .swiper-button-prev:after{
    font-size: 18px;
    color: #FFFFFF;
}
.hero_swiper_pagination{
    position: absolute;
    bottom: 30px;
    right: 70px;
    z-index: 99;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}
.hero_swiper_main .swiper-pagination-bullet{
    background: #FFFFFF57;
    opacity: unset;
    height: 15px;
    width: 15px;
}
.hero_swiper_main .swiper-pagination-bullets {
    display: flex;
    justify-content: end;
    position: relative;
    top: 0 !important;
    bottom: 0 !important;
    width: 100px !important;
}
.hero_swiper_main .swiper-pagination-bullet-active{
    background: #FFFFFF;
}
.hero_swiper_main .swiper-pagination-fraction {
    width: 70px !important;
    color: #fff;
    z-index: 11;
    text-align: end;
}
.hero_swiper_img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero_swiper_txt{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
}
.hero_swiper_txt_inner_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: calc(100vh);
    padding: 140px 0px 40px 0px;
    gap: 30px;
}
.hero_swiper_txt_inner1{
    width: 100%;
    max-width: 785px;
}
.hero_swiper_txt_inner1 h1{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}
.hero_swiper_txt_inner1 p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero_swiper_txt_inner2{
    width: 100%;
    max-width: 460px;
}
.hero_swiper_txt_inner2 p{
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    color: #E8E8E8;
    margin-bottom: 0;
}
.hero_swiper_btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.hero_swiper_btn a button{
    background: transparent;
    border: none;
    padding: 8px 20px;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
}
.hero_swiper_btn a:first-child button{
    background: #E8E8E8;
    color: #383838;
}
.social_icons_main{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social_icons_main a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF0A;
    border: 1px solid #EEEEEE4D;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.title_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.title_div h1{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 0;
}
.title_div p{
    width: 100%;
    max-width: 410px;
    text-align: end;
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    color: #454545;
    margin-bottom: 0;
}
.about_section{
    padding: 50px 0px;
}
.about_card_body_div{
    margin-top: 20px;
    width: 100%;
    position: relative;
}
.about_card_img img{
    width: 100%;
    height: auto;
    min-height: 410px;
    object-fit: cover;
}
.about_card_txt{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
.about_card_txt h5{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}
.about_arrow{
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer_section{
    background: #F7F7F7;
    padding: 50px 0px 0px 0px;
    margin-top: 60px;
}
.footer_txt1 .footer_logo{
    height: 80px;
    width: auto;
    margin-bottom: 30px;
}
.footer_txt1 p{
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    color: #454545;
    margin-bottom: 0;
    padding-top: 6px;
}
.footer_links_inner{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer_links_inner h5{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
}
.footer_links_inner a{
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    color: #454545;
    text-decoration: none;
}
.footer2_main{
    text-align: center;
    border-top: 1px solid #DFDFDF;
    padding: 15px 0px;
    margin-top: 50px;
}
.footer2_main p{
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    color: #454545;
    margin-bottom: 0;
}
.hero2_section{
    background: #F7F7F7;
    height: auto;
    min-height: 400px;
    margin-top: 70px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero2_txt_main{
    width: 100%;
    max-width: 730px;
    margin: auto;
    text-align: center;
}
.hero2_txt_main h1{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: #000000;
}
.hero2_txt_main p{
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #454545;
    padding: 0px 15px;
    margin-bottom: 0;
}
.archi_types_group_section{
    padding: 50px 0px;
}
.archi_types_group_section .row .col-lg-6:first-child{
    padding-right: 0;
}
.archi_types_group_section .row .col-lg-6:last-child{
    padding-left: 0;
}
.archi_types_imgs{
    width: 100%;
}
.archi_types_imgs img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.3s ease;
    overflow: hidden;
}
/* .archi_types_imgs img:hover{
    transform: scale(1.01);
} */
.archi_types_imgs img.small_img{
    height: 356px;
}
.archi_types_imgs img.small_img2{
    height: 338px;
}
.archi_types_imgs img.small_img3{
    height: 347px;
}
.about_hero_section{
    margin-top: 70px;
    position: relative;
    background-image: url(../img/ab1.png);
    height: auto;
    min-height: calc(100vh - 70px);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about_hero_txt_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: calc(100vh - 160px);
}
.about_hero_txt_main{
    padding: 50px 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
}
.about_hero_txt1 h1{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}
.about_hero_txt2_main{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about_hero_icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.about_hero_icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF0A;
    border: 1px solid #EEEEEE4D;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.about_hero_txt2_inner{
    width: 100%;
    max-width: 576px;
    margin-left: auto;
    text-align: end;
}
.about_hero_txt2_inner h1{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 37px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}
.about_hero_txt2_inner p{
    font-weight: 300;
    font-size: 20px;
    line-height: 37px;
    text-align: right;
    text-transform: capitalize;
    color: #FFFFFF;
}
.aboutp_section{
    padding: 50px 0px;
}
.aboutp_section h1{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: #000000;
}
.aboutp_txt_div{
    width: 100%;
    max-width: 620px;
    margin: auto;
    margin-top: 40px;
}
.aboutp_txt_div p{
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    color: #454545;
    margin-bottom: 20px;
}
.aboutp_txt_div ul{
    padding-left: 0;
}
.aboutp_txt_div ul li{
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    color: #454545;
    list-style-type: none;
    font-style: italic;
}
.aboutp_txt_div span{
    font-weight: 500;
}
.aboutp_txt_div h5{
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #454545;
    margin-bottom: 20px;
}
.aboutp_img_div{
    width: 100%;
    max-width: 620px;
    margin: auto;
    margin-top: 40px;
}
.aboutp_img_div img{
    width: 100%;
    object-fit: cover;
}
.contact_section{
    padding: 50px 0px;
}
.contact_left_card_main{
    width: 100%;
    max-width: 620px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #DFDFDFA8;
    background: #E8E8E81A;
    padding: 20px;
    border-radius: 4px;
} 
.contact_left_card_main h3{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
}
.contact_left_card_input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}
.contact_left_card_input label{
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    color: #454545;
}
.contact_left_card_input input,
.contact_left_card_input select,
.contact_left_card_input textarea{
    width: 100%;
    border: 1px solid #DFDFDF;
    background-color: #E8E8E81A;
    border-radius: 4px;
    padding: 10px 12px;
    outline-color: skyblue;
    box-shadow: none !important;
}
.contact_left_card_main button{
    background: #000000;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 10px 12px;
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 4px;
}
.contact_right_card_main{
    width: 100%;
    max-width: 650px;
    margin: auto;
    margin-top: 40px;
}
.contact_right_card_txt p{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 0;
}
.contact_right_card_txt a{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #454545;
    text-decoration: none;
}
.contact_right_card_map iframe{
    height: 650px;
    width: 100%;
    border-radius: 4px;
    margin-top: 20px;
}
.navbar-toggler{
    border: none;
    box-shadow: none !important;
}

@media(max-width:1366px){
    .hero_swiper_img img{
        height: auto;
        min-height: 100vh;
    }
}
@media(max-width:1150px){
    .hero_swiper_txt_inner1 h1 {
        font-family: "Lato", sans-serif;
        font-weight: 500;
        font-size: 42px;
        line-height: 60px;
    }
    .hero_swiper_txt_inner1 p {
        font-size: 28px;
        line-height: 48px;
    }
    .social_icons_main {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%, -30%);
    }
    .footer_links_inner a {
        font-weight: 300;
        font-size: 16px;
    }
}
@media(max-width:992px){
    .about_card_txt h5 {
        font-weight: 500;
        font-size: 26px;
    }
    .navbar-nav{
        gap: 15px !important;
    }
    .footer_links_inner{
        margin-top: 30px;
    }
    .hero2_txt_main h1 {
        font-size: 42px;
        line-height: 60px;
    }
}
@media(max-width:768px){
    .title_div{
        flex-wrap: wrap;
    }
    .hero_swiper_txt_inner_main{
        padding: 100px 0px 50px 0px;
    }
    .archi_types_group_section .row .col-lg-6{
        padding: 0px 5px !important;
    }
}
@media(max-width:576px){
    .hero_swiper_txt_inner1 h1 {
        font-size: 32px;
        line-height: 45px;
    }
    .hero_swiper_txt_inner1 p {
        font-size: 18px;
        line-height: 30px;
    }
    .hero_swiper_pagination {
        bottom: 20px;
        right: 20px;
    }
    .social_icons_main {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(-50%, -30%);
    }
    .hero_swiper_txt_inner2 p {
        font-weight: 300;
        font-size: 16px;
    }
}
@media(max-width:480px){
    .title_div h1 {
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
    }
    .hero2_txt_main h1 {
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
    }
    .about_hero_txt2_inner h1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
    }
    .about_hero_txt2_inner p {
        font-weight: 300;
        font-size: 15px;
        line-height: 27px;
    }
    .about_hero_txt1 h1 {
        font-weight: 500;
        font-size: 48px;
        line-height: 64px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 0;
    }
    .aboutp_section h1 {
        font-weight: 500;
        font-size: 42px;
        line-height: 64px;
    }
    .aboutp_txt_div p {
        font-weight: 300;
        font-size: 16px;
        text-transform: capitalize;
        color: #454545;
        margin-bottom: 20px;
    }
    .contact_right_card_map iframe {
        height: 450px;
    }
}


   












































